<form action="delete" autocomplete="off" method="POST">
    <input type="email" required name="email" minlength="6" maxlength="60" placeholder="Email">
    <input type="password" required name="wachtwoord" placeholder="Wachtwoord">
    <input type="submit" value="inloggen">
</form>