<form action="" autocomplete="off" method="POST">
    <input type="email" required name="Voornaam" minlength="6" maxlength="60" placeholder="Email">
    <input type="password" required name="Wachtwoord" placeholder="Wachtwoord">
    <input type="submit" value="inloggen">
</form>