<nav>
    <ul>
        <li>
            <a href="/profile"><img class="navicon" src="./images/profiel.svg" alt="profielpagina"></a>
        </li>
        <li>
            <a href="http://localhost:5000/"><img class="logo" src="/images/logo.svg" alt="dateIT"></a>
        </li>
        <li>
            <a href="/matches"><img class="navicon" src="images/matches.svg" alt="matches"></a>
        </li>
    </ul>
</nav>