<nav>
    <ul>
        <li>
            <a href="/readytostart"><img class="navicon" src="./images/profiel.svg" alt="profielpagina"></a>
        </li>
        <li>
            <a href="http://localhost:5000/findlove"><img class="navicon" src="/images/backtolike.svg" alt="Backtolikes"></a>
        </li>
        <li>
            <a href="/matches"><img class="navicon" src="images/matches.svg" alt="matches"></a>
        </li>
    </ul>
</nav>