<form action="edit" autocomplete="off" method="POST">
    <input type="password" required name="nieuwwachtwoord" placeholder="Nieuw wachtwoord">
    <input type="submit" value="Wachtwoord veranderen">
</form>