<fieldset>
    <legend>Personalia</legend>
    <label for="Voornaam">Voornaam</label>
    <input type="text" required name="Voornaam" minlength="2" maxlength="30" placeholder="...">
    <label for="Achternaam">Achternaam</label>
    <input type="text" required name="Achternaam">
    <label for="Geboortedatum">Geboortedatum</label>
    <input type="date" required name="Geboortedatum">
</fieldset>
<fieldset>
    <legend>Adres gegevens</legend>
    <label for="straat">Straat</label>
    <input type="text" required name="straat">
    <label for="huisnummer">Huisnummer</label>
    <input type="text" maxlength="5" required name="huisnummer">
    <label for="plaats">Plaats</label>
    <input type="text" maxlength="30" required name="plaats">
</fieldset>
<fieldset>
    <legend>Het bericht</legend>
    <input type="text" required name="plaats">
</fieldset>
<input type="submit" value="Submit">
</form>