<section id="registratiestart">
    <header>
        <h3>Nog geen account?</h3>
    </header>
    <article>
        <a href="/registration" id="registratiebutton">registreren</a>
    </article>
</section>