<section>
    <article>
        <form action="registrating" id="registration" method="POST">
            <fieldset>
                <legend>Personalia</legend>
                <label for="voornaam">Voornaam</label>
                <input type="text" required name='voornaam' placeholder='B.v Rob'>
                <label for="achternaam ">Achternaam</label>
                <input type="text" required name='achternaam' placeholder="B.v de Vries ">
                <label for="geboortedatum ">Geboortedatum</label>
                <input type="date" required name="geboortedatum">
            </fieldset>
            <fieldset>
                <legend>Inloggegevens</legend>
                <label for="email">Email</label>
                <input type="email" required name="email" minlength="6 " maxlength="60 " placeholder="B.v blabla@outlook.com ">
                <label for='wachtwoord'>Wachtwoord</label>
                <input type="password" required name="wachtwoord" minlength="6 " placeholder="Minimaal 6 tekens ">
            </fieldset>
            <input type="submit" value="Registreren">
        </form>
    </article>
</section>