<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('partials/head'); -%>
</head>

<body id="registration">
    <header>
        <%- include('partials/edit-pass-head'); -%>
    </header>
    <main>
        <%- include('partials/password-form'); -%>
    </main>
    <footer>
        <%- include('partials/footer'); -%>
    </footer>
</body>

</html>