<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('partials/head'); -%>
</head>

<body>
    <main>
        <%- include('partials/loading-icon'); -%>
            <h2>Account aanmaken & klaarmaken voor gebruik</h2>
    </main>
    <footer>
        <%- include('partials/footer'); -%>
    </footer>
    <script>
        setTimeout(function() {
            window.location.href = '/succes';
        }, 5000);
    </script>
</body>

</html>