<!DOCTYPE html>
<link rel="STYLESHEET" href="/css/styleProfiel.css" type="text/css"> 
<h1>Matches:</h1>

<% for (var index = 0; index < data.length; index++){ %>
<ul class="matches"> 
  <h2><%= data[index].voornaam %> </h2>
  <p><%= data[index].achternaam %> </p>
 <figure>  <%= data[index].photo %> </figure>
</ul>

<% } %>
