<!DOCTYPE html>
<link rel="STYLESHEET" href="/css/styleProfiel.css" type="text/css">
<h1>Matches:</h1>

<% if (data){ %>
    <% for (var index = 0; index < data.matches.length; index++){ %>
        <ul class="matches">
            <h2>
                <%= data[i].matches.voornaam %>
            </h2>
            <p>
                <%= data[i].matches.achternaam %>
            </p>
            <figure>
                <%= data[i].matches.photo %>
            </figure>
        </ul>

        <% } %>
            <% }else { %>
                <p>U heeft nog geen matches</p>
                <% } %>