<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('partials/head'); -%>
</head>

<body>
    <main class="succes">
        <%- include('partials/succes-icon'); -%>
            <h2>Gelukt!</h2>
            <p>U wordt automatisch binnen 5sec doorgestuurd</p>
    </main>
    <footer>
        <%- include('partials/footer'); -%>
    </footer>
</body>

</html>