@import url('https://fonts.googleapis.com/css?family=Maven+Pro:400,500,600,700,800,900&display=swap');
@font-face {
    font-family: 'impact';
    src: url('fonts/impact.ttf');
}

* {
    margin: 0;
    padding: 0;
}


/* body */

body {
    background-color: #7B002A;
    font-family: 'maven pro';
}

main,
footer {
    display: block;
}


/* tekst */

h1 {
    font-family: 'impact';
    font-weight: bold;
}

h1,
h2,
h3 {
    font-weight: 400;
    color: white;
    text-align: center;
}

h2 a {
    font-weight: 400;
    color: white;
    text-align: center;
}

p {
    color: #FEEBEB;
    text-align: center;
    margin: 15px 5px;
}


/* header */

body>header {
    padding: 20px 0px;
    margin-bottom: 25px;
}

body#registration header {
    margin-bottom: 5px;
}


/* main */

main {
    width: 80%;
    margin: auto;
    padding: 30px 5px;
}

/********************
    MULTI STEP FORM
********************/

.registratepage fieldset{
    margin: 15px auto;
    display: none;
}

.registratepage fieldset label{
    display: block;
    /* padding-top: 26px; */
    font-size: 1rem;
    font-family: 'maven pro';
}
.registratepage fieldset .man, .registratepage fieldset .vrouw, .registratepage fieldset .beide{
    /* font-family: omnes-pro, sans-serif; */
    display: inline;
    /* background-color: red; */
    padding: 4px;
    padding-top: 12px;
    margin: auto;
    margin-bottom: 18px;
    font-size: 1.4rem;
}

.registratepage fieldset input{
    /* width: 96%; */
    /* border-bottom: 1px solid rgb(255, 0, 0); */
    /* margin-left: 20px; */
    font-family: omnes-pro, sans-serif;
    padding-bottom: 0px;
}

.registratepage fieldset input::placeholder{
    font-weight: lighter;
    line-height: 50px;
}

.registratepage button{
    margin: 20px;
    padding: 12px 0px;
    width: 100px;
    cursor: pointer;
    box-shadow: 3px 3px 4px grey;
    border-radius: 21px;
    border: 1px solid black;
    font-family: 'maven pro';
    font-weight: 600;
    text-transform: uppercase;
    text-align: center;
}

.registratepage fieldset input[type="radio"]{
    display: inline-flex;
    width: 20px;
}

.registratepage .optionphoto{
    padding: 0px;
}

.registratepage .optionphoto img, .registratepage fieldset p{
    flex-wrap: wrap;
    justify-content: start;
}

.registratepage .optionphoto img{
    width: 25%;
    height: 55%;
}

.registratepage .optionphoto p{
    width: 60vw;
    font-size: 1.5rem;
    font-weight: 300;
    /* margin: auto; */
    position: absolute;
    /* z-index: 12; */
    margin: 0;
    padding: 0;
    left: 40px;
    top: 21px;
    opacity: 10;
    color: black;
}


.registratepage .optionphoto .fileContainer{
    overflow: hidden;
    position: relative;
}
    
.registratepage .optionphoto .file {
    cursor: pointer;
    /* display: inline; */
    font-size: 12px;
    filter: alpha(opacity=0);
    /* min-height: 100%; */
    /* min-width: 100%; */
    opacity: 1;
    /* position: absolute; */
    left: 0;
    right: 0;
    text-align: center;
    /* top: 0; */
    padding: 52px;
    width: 80vw;
    margin: auto;
}



.registratepage ul{
    width: 80vw;
    /* margin: 20px auto; */
    text-align: center;
    /* float: right; */
    position: absolute;

}

.registratepage ul li{
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: #b3b3b3;
    margin: 2px 5px;
    display: inline-flex;
    /* border: 1px solid rgb(133, 126, 126); */
}




.registratepage fieldset input[type="radio"]{
    /* position: absolute;
    opacity: 20;
    cursor: pointer;
    height: 25px;
    width: 21px;
    background-color: red; */
    /* margin-left: 50px; */

        /* position: absolute; */
        opacity: 20;
        cursor: pointer;
        height: 25px;
        width: 21px;
        background-color: red;
        /* margin-left: 50px; */
        /* margin-bottom: 14px;*/

}


  .registratepage fieldset input[type="radio"]:focus{
     box-shadow: none;
    }
    
.renderedphoto{
    min-width: 25%;
    /* width: 10px; */
    height: 10px;
    list-style-type: none;
    color:blue;
    flex-wrap: wrap;
    justify-content: space-around;
    flex-direction: row;
    border: 1px solid red;
    /* padding: 48px; */
    /* margin: 8px; */
    border-radius: 10px;

    margin: auto;
    width: 50%;
    padding: 64px;
    margin-top: 20px;

 }




body#registration main {
    padding: 10px 5px 30px 5px;
}

main.succes {
    text-align: center;
}

.accountlinks {
    text-align: center;
    color: white;
    font-size: 18px;
    list-style: none;
    margin: 30px 10px;
}

.accountlinks li {
    margin: 15px 5px;
}

.accountlinks a {
    color: white!important;
}

img {
    width: 100%;
    max-width: 300px;
}

img.succesicon {
    width: 100%;
    max-width: 150px;
}

#registratiestart {
    margin: 20px 0px;
    text-align: center;
}

#registratiebutton {
    padding: 15px 40px;
    background-color: #FEEBEB;
    border-radius: 20px;
    margin: 20px 10px;
    display: inline-block;
    color: #F8626E;
    border: 3px solid #FF626E;
    text-decoration: none;
    text-transform: uppercase;
}


/* forms */

input[type=text],
input[type=email],
input[type=password],
input[type=date] {
    border: 3px solid #F8626E;
    padding: 4px 15px;
    font-size: 16px;
    color: #7B002A!important;
    font-weight: bold;
    opacity: 0.8;
}

fieldset {
    border: 0;
    color: white;
}

legend {
    text-align: center;
    padding: 10px;
    font-size: 2rem;
}

input:valid {
    border: 3px solid #88FF9F;
    opacity: 1;
    background-color: white;
}

input:focus {
    /* padding: 30px 15px; */
    opacity: 1;
}

input[type=submit] {
    background-color: #FF626E;
    font-size: 20px;
    color: white;
    border: 0;
    text-transform: uppercase;
}

 ::placeholder {
    color: #7B002A;
    font-size: 16px;
    opacity: 0.55;
    font-weight: lighter;
}

form input {
    height: 3.2rem;
    display: block;
    margin: 20px 0px;
    width: 100%;
    border-radius: 20px;
    box-sizing: border-box;
    font-family: 'maven pro';
}


/* footer */

footer {
    text-align: center;
    bottom: 0;
    height: 50px;
    width: 100%;
    display: inline-block;
    margin: auto;
}